@charset "utf-8";
/* CSS Document */
body {
	background-image: url(bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	font-size: 6em;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	letter-spacing: .3em;

}

#classname {
	font-size: 2em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .2em;
}
#wrapper {
	background-color: #FFF;
	width: 75%;
	min-height: 500px;
	margin: auto;
	padding: 1.5%;
	
}

#navigation {
	font-family: 'Raleway', sans-serif;
	list-style-type: none;
	font-size: 1em;
	float: left;
}

li {
	margin-bottom: 8px;
	}
	
#currentPage {
	padding:3px;
	border-left:10px solid #000;
}

a {
	transition-property: color;
  	transition-duration: .5s;
  	transition-timing-function: linear;
	text-decoration: none;
}

a:link {
	color:#000;
	}
a:visited {
	color:#666;
}
a:hover {
	color:#999;
}
a:active {
	color:#CCC;
	font-weight:bold;
}

section {
	width: 55%;
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	margin: auto;
}

h1,h2,h3,h4,h5 {
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	}
footer {
	margin-left: 30%;
	font-family: 'Poppins', sans-serif;
	font-size: .5em;
	font-style: oblique;
}
